@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap');

@font-face {
    font-family: "Intro";
    /* Имя шрифта */
    src: url("../fonts/8289.otf");
}

html{
    height: 100%;
}

body {
    /* max-height: 100vh; */
    height: 100%;
    width: 100%;
}

.name-brand {
    justify-items: start;
}

.logo {
    margin-left: 3.2rem;
}

.ellipse-6 {
    margin-left: 5px;
    margin-top: 3px;
}

.ellipse-3 {
    margin-left: -15px;
    margin-top: 25px;
}

.button-bascet {
    width: 8rem;
    font-family: "Intro", sans-serif;
    font-size: 0.8rem;
    background-color: #5222D0;
    color: #FFF;
}

.ellipse-bascet {
    margin-left: -0.75rem;
    margin-top: -0.6rem;
}

.main-text-col {
    margin-left: 8rem;
}

.h-main {
    font-family: "Intro", sans-serif;
    font-size: 3.8rem;
}

.text-main {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: #000000;
}

.button-buy {
    width: 15rem;
    height: 5rem;
    font-family: "Intro", sans-serif;
    font-size: 2rem;
    background-color: #5222D0;
    color: #FFF;
}

.rectangle {
    background-color: #FFF;
    width: 2.6rem;
    height: 1.8rem;
    border-radius: 10%;
    margin-left: 1rem;
}

.rectangle-small {
    background-color: #5222D0;
    width: 2.6rem;
    height: 0.4rem;
    margin-left: -41.5px;
    margin-top: -12px;
}

.div-img-guy {
    max-height: 78vh;
    margin-left: -9rem;
    background-image: url(../images/background.png);
}

.img-guy {
    height: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
}

.footer-item {
    color: #5222D0;
}

.footer-nav {
    margin-left: -5.5rem;
}

@media screen and (max-width: 1024px) {
    .img-guy {
        margin-left: 29rem;
    }

    .footer-nav {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        margin-left: 0;
    }

    .main-text-col {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 426px) {
    .logo {
        margin-left: 0;
    }

    .h-main {
        font-family: "Intro", sans-serif;
        font-size: 2.5rem;
    }

    .img-guy {
        height: 100%;
        margin-top: 2rem;
        margin-left: 0;
    }

    .div-img-guy {
        max-height: 78vh;
        margin-left: 0;
        background-image: url(../images/background.png);
    }

    .footer-nav {
        margin-left: 0;
        margin-top: 4rem;
    }

    .footer-item {
        color: #5222D0;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 376px) {
    .button-bascet {
        width: 8rem;
        font-family: "Intro", sans-serif;
        font-size: 0.8rem;
        background-color: #5222D0;
        color: #FFF;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    .footer-item {
        color: #5222D0;
        font-size: 0.7rem;
    }
}